<!DOCTYPE html>
<html>

<head>
    <title>Kosebloggen</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper red">
            <a href="{% url 'home'  %}" class="brand-logo center">Kosebloggen</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">Om</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Profil</a></li>
            </ul>
        </div>
    </nav>
    {% block content%}
    <!-- index.html -->
    {% endblock content %}
    {% block footer %}
    <!-- footer.html -->
    {% endblock footer%}
</body>

</html>